body {
    margin: 0;
    padding: 0;
    font-family: Times, serif;
    background-color: gray;
}

header {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    margin-top: 25px; 
    background-color: gray; 
    padding: 10px;
    display: inline-block;
    color: white;
}
h2 {
    color: white; 
    font-style: italic;
}
nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}
.imgcont {
    text-align: center;
    margin: 20px 0;
}

.imgcont img {
    max-width: 100%;
    height: auto;
    width: 400px;
    margin-bottom: 10px; 
}

.caption {
    margin: 0 0 10px; 
}
.rightleftcont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.rightleftcont img {
    max-width: 45%; 
    height: auto; 
}

.rightleftcont .text-container {
    flex: 1;
    margin-left: 20px; 
}

.rightleftcont .caption {
    margin: 0 0 10px; 
}
.datalinkformat {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #white; 
    border: 1px solid #blue; 
    border-radius: 8px; 
}

.datalinkformat h2 {
    color: #black; 
}

.datalinkformat p {
    margin-top: 10px; 
}

.datalinkformat a {
    color: #black; 
    text-decoration: none;
    font-weight: bold; 
}

.datalinkformat a:hover {
    color: #blue; 
}
