body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
.centered-title {
    text-align: center;
}

.banner {
    text-align: center;
    margin-top: 20px; 
}

.banner img {
    max-width: 100%; 
    height: auto; 
}
.header-image {
    background-image: url('{{ "IMG_66372.jpeg" | relative_url }}');
    background-size: cover;
    background-position: center;
    color: #fff; /* Set the text color for better visibility */
    padding: 100px 0; /* Adjust the padding as needed */
    text-align: center;
}

.centered-title {
    color: inherit; /* Inherit the text color from the parent */
}

