---
layout: default
---

<div class="page-header">
  <h1 class="project-name">Protecting the Pages/h1>
  <h2 class="project-tagline">A digital representation of contemporary book banning.</h2>
</div>

<div class="main-content">
  <div class="row">
    <div class="col">
      <img src="{{ site.baseurl }}/assets/images/about-image.jpg" alt="About Us Image" class="about-image">
      <p>This is the content for the about page. You can customize this section to provide information about your project, team, or anything else you want to highlight on the about page.</p>
    </div>
  </div>
</div>
